---
apiVersion: v2
appVersion: v2.12.16
description: Joplin is a free, open source note taking and to-do application, which can handle a large number of notes organised into notebooks.
name: joplinserver
version: 0.0.1
kubeVersion: ">=1.16.0-0"
keywords:
  - joplinserver
home: https://joplinapp.org/
icon: https://raw.githubusercontent.com/laurent22/joplin/dev/Assets/LinuxIcons/256x256.png
sources:
  - https://github.com/laurent22/joplin
maintainers:
  - name: funkypenguin
    email: davidy@funkypenguin.co.nz
dependencies:
  - name: postgresql
    version: 12.x
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
  - name: common
    repository: http://chartmuseum.chartmuseum:8080
    version: ~0.2.10


