---
apiVersion: v2
appVersion: 1.3.5
description: A minimalist, open source online pastebin running on an Nginx, php-fpm & Alpine Linux stack
name: privatebin
version: 2.1.2
kubeVersion: ">=1.16.0-0"
keywords:
  - privatebin
  - pastebin
home: https://github.com/k8s-at-home/charts/tree/master/charts/incubator/privatebin
icon: https://privatebin.info/theme/img/icon.svg
sources:
  - https://github.com/PrivateBin/PrivateBin
  - https://github.com/PrivateBin/docker-nginx-fpm-alpine
maintainers:
  - name: psych0d0g
    email: psych0d0g@users.noreply.github.com
dependencies:
  - name: postgresql
    version: 11.9.2
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
  - name: common
    repository: http://chartmuseum.chartmuseum:8080
    version: ~0.2.5
annotations:
  artifacthub.io/changes: |-
    - kind: changed
      description: Upgraded `common` chart dependency to version 0.2.2
