---
apiVersion: v2
appVersion: 8.0.7
description: seafile helm package
name: seafile
version: 3.1.3
kubeVersion: ">=1.16.0-0"
keywords:
  - seafile
home: https://github.com/k8s-at-home/charts/tree/master/charts/stable/seafile
icon: https://manual.seafile.com/media/seafile-transparent-1024.png
sources:
  - https://github.com/haiwen/seafile-docker
maintainers:
  - name: phybros
    email: 1985132+phybros@users.noreply.github.com
dependencies:
  - name: common
    repository: http://chartmuseum.chartmuseum:8080
    version: ~0.2.5
  - name: mysql
    version: 9.10.4
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: mysql.enabled
  - name: memcached
    version: 6.5.9
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: memcached.enabled    
annotations:
  artifacthub.io/changes: |-
    - kind: changed
      description: Upgraded `common` chart dependency to version 0.2.2
