apiVersion: v2
name: myprecious
description: Deploys the elfhosted charts

# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 1.0.32833-pre-01

# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
appVersion: 1.16.0

home: https://elfhosted.com
maintainers:
  - name: funkypenguin
    email: davidy@funkypenguin.co.nz

dependencies:
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: plex.enabled
    alias: plex
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: emby.enabled
    alias: emby
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: jellyfin.enabled
    alias: jellyfin
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: nzbget.enabled
    alias: nzbget
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: sabnzbd.enabled
    alias: sabnzbd
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: radarr.enabled
    alias: radarr
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: radarr4k.enabled
    alias: radarr4k
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: sonarr.enabled
    alias: sonarr
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: sonarr4k.enabled
    alias: sonarr4k
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: bazarr.enabled
    alias: bazarr
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: bazarr4k.enabled
    alias: bazarr4k
  - name: homer
    version: ~8.0.0
    repository: oci://ghcr.io/elfhosted/charts
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: ombi.enabled
    alias: ombi
  - name: traefik-forward-auth
    version: ~2.2.0
    repository: oci://ghcr.io/elfhosted/charts
    alias: traefikforwardauth
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: prowlarr.enabled
    alias: prowlarr
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: tautulli.enabled
    alias: tautulli
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: lidarr.enabled
    alias: lidarr
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: readarr.enabled
    alias: readarr
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: readarraudio.enabled
    alias: readarraudio
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: calibreweb.enabled
    alias: calibreweb
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: calibre.enabled
    alias: calibre
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    alias: navidrome
    condition: navidrome.enabled
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: lazylibrarian.enabled
    alias: lazylibrarian
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: mylar.enabled
    alias: mylar
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: komga.enabled
    alias: komga
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: kavita.enabled
    alias: kavita
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: rapidleech.enabled
    alias: rapidleech
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: delugepia.enabled
    alias: delugepia
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: delugegluetun.enabled
    alias: delugegluetun        
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: qbittorrentgluetun.enabled
    alias: qbittorrentgluetun
  # Specifically for PIA's port-forwarding requirements (a separate image)
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: qbittorrentpia.enabled
    alias: qbittorrentpia
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: autobrr.enabled
    alias: autobrr
  - name: filebrowser
    version: ~1.4.0
    repository: oci://ghcr.io/elfhosted/charts
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: nzbhydra.enabled
    alias: nzbhydra
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: privatebin.enabled
    alias: privatebin
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: uptimekuma.enabled
    alias: uptimekuma
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: gotify.enabled
    alias: gotify
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: flaresolverr.enabled
    alias: flaresolverr
  - name: rtorrent-rutorrent
    version: 1.1.x
    repository: oci://ghcr.io/elfhosted/charts
    condition: rutorrentpia.enabled
    alias: rutorrentpia
  - name: rtorrent-rutorrent
    version: 1.1.x
    repository: oci://ghcr.io/elfhosted/charts
    condition: rutorrentgluetun.enabled
    alias: rutorrentgluetun    
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: pyload.enabled
    alias: pyload
  - name: seafile
    version: 3.1.x
    repository: oci://ghcr.io/elfhosted/charts
    condition: seafile.enabled
  - name: resilio-sync
    version: 5.4.x
    repository: oci://ghcr.io/elfhosted/charts
    condition: resiliosync.enabled
    alias: resiliosync
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: xteve.enabled
    alias: xteve
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: youtubedl.enabled
    alias: youtubedl
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: thelounge.enabled
    alias: thelounge
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: unpackerr.enabled
    alias: unpackerr
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: overseerr.enabled
    alias: overseerr
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: jellyseerr.enabled
    alias: jellyseerr
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: audiobookshelf.enabled
    alias: audiobookshelf
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: openbooks.enabled    
    alias: openbooks
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: vaultwarden.enabled
    alias: vaultwarden
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: notifiarr.enabled
    alias: notifiarr
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: rpdb.enabled
    alias: rpdb
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: jfa.enabled
    alias: jfa
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: shoko.enabled
    alias: shoko
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: plexmetamanager.enabled
    alias: plexmetamanager
  - name: app-template
    condition: kometa.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    alias: kometa    
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: filebot.enabled
    alias: filebot
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: nextpvr.enabled
    alias: nextpvr
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: syncthing.enabled
    alias: syncthing
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: rdtclient.enabled   
    alias: rdtclient      
  - name: app-template
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts
    condition: jdownloader.enabled   
    alias: jdownloader     
  - name: mattermost-team-edition
    alias: mattermost
    condition: mattermost.enabled
    version: ~6.6.0
    repository: oci://ghcr.io/elfhosted/charts
  - name: miniflux
    condition: miniflux.enabled
    version: ~0.0.2
    repository: oci://ghcr.io/elfhosted/charts    
  - name: joplinserver
    condition: joplinserver.enabled
    version: ~0.0.1
    repository: oci://ghcr.io/elfhosted/charts  
  # disabled for now
  # - name: app-template
  #   condition: tdarr.enabled
  #   version: ~0.2.1
  #   repository: oci://ghcr.io/elfhosted/charts        
  #   alias: tdarr    
  - name: app-template
    version: ~0.2.1
    condition: rdtclientvpnpia.enabled
    repository: oci://ghcr.io/elfhosted/charts        
    alias: rdtclientvpnpia
  - name: app-template
    condition: rclonemountalldebridpia.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: alldebridwebdavpia
  - name: app-template
    condition: homepage.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: homepage
  - name: wallabag
    condition: wallabag.enabled
    version: ~0.0.2
    repository: oci://ghcr.io/elfhosted/charts 
  - name: app-template
    condition: autoscan.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: autoscan
  - name: app-template
    condition: zurg.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: zurg    
  - name: app-template
    condition: plexdebrid.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: plexdebrid      
  - name: app-template
    condition: iceberg.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: iceberg       
  - name: app-template
    condition: airdcpppia.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: airdcpppia
  - name: app-template
    condition: airdcppgluetun.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: airdcppgluetun   
  - name: app-template
    condition: jackett.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: jackett
  - name: app-template
    condition: stremiojackett.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: stremiojackett     
  - name: app-template
    condition: torrentio.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: torrentio     
  - name: app-template
    condition: knightcrawlervpn.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: knightcrawlervpn  
  - name: app-template
    condition: knightcrawler.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: knightcrawler           
  - name: app-template
    condition: aria.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: aria       
  - name: app-template
    condition: webdavplus.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: webdavplus
  - name: app-template
    condition: rcloneui.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: rcloneui
  - name: app-template
    condition: rclonefm.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: rclonefm              
  - name: app-template
    condition: webdav.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: webdav   
  - name: app-template
    condition: storageboss.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: storageboss        
  - name: app-template
    condition: scannarr.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: scannarr     
  - name: app-template
    condition: scannarr4k.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: scannarr4k    
  - name: app-template
    condition: annatar.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: annatar  
  - name: app-template
    condition: xtremio.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: xtremio  
  - name: app-template
    condition: shluflix.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: shluflix 
  - name: app-template
    condition: stremify.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: stremify              
  - name: app-template
    condition: mediafusion.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: mediafusion
  - name: app-template
    condition: stremiojackettcommunity.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: stremiojackettcommunity   
  - name: app-template
    condition: stremiojackettcommunityalldebrid.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: stremiojackettcommunityalldebrid       
  - name: app-template
    condition: jackettio.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: jackettio   
  - name: app-template
    condition: davio.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: davio            
  - name: app-template
    condition: stremioserver.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: stremioserver
  - name: app-template
    condition: stremioserverpia.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: stremioserverpia
  - name: app-template
    condition: stremioservergluetun.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: stremioservergluetun 
  - name: app-template
    condition: stremioweb.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: stremioweb    
  - name: app-template
    condition: pgadmin.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: pgadmin   
  - name: app-template
    condition: redisinsight.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: redisinsight  
  - name: app-template
    condition: mongoexpress.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: mongoexpress      
  - name: app-template
    condition: gatus.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: gatus        
  - name: app-template
    condition: recyclarr.enabled
    version: ~0.2.1
    repository: oci://ghcr.io/elfhosted/charts        
    alias: recyclarr                                                                                   
  - name: kubernetes-dashboard
    repository: oci://ghcr.io/elfhosted/charts
    alias: kubernetesdashboard
    version: 5.x
